<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- ============================================================ -->
    <!-- === إذن الإنترنت مطلوب فقط في وضع القياس ===                  -->
    <!-- ============================================================ -->
    <!--
        نفس السبب السابق: التواصل مع أدوات التطوير أثناء
        تشغيل التطبيق في وضع Profile (لقياس الأداء).
    -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
